/* ContactForm.css */

.contact-us-page {
  background-color: rgb(238, 233, 218); /* Add your preferred background color here */
  padding: 3rem 1rem;
  border-radius: 10px;
}

.contact-form {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.illustration img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Optional: Adds rounded corners to the image */
}
